body {
  color: white;
  font-family: Poppins;
  font-weight: 300;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1)),
    url("../src/assets/images/png/fondoWeb.png") repeat center / cover;
}
